<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інформація про Django</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h1 {
            color: #006699;
        }

        p {
            line-height: 1.5;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>

<body>

    <header>
        <h1>Фреймворк Django</h1>
    </header>

    <section>
        <h2>Що таке Django?</h2>
        <p>Django - це високорівневий веб-фреймворк на мові програмування Python, який допомагає розробляти веб-додатки швидко і зручно.</p>
    </section>

    <section>
        <h2>Основні можливості Django</h2>
        <ul>
            <li>Вбудована система адміністрування</li>
            <li>ORM для роботи з базою даних</li>
            <li>Робота з URL-шляхами та видами</li>
            <li>Шаблонізатор Django</li>
            <li>Система міграцій</li>
        </ul>
    </section>

    <section>
        <h2>Логотип Django</h2>
        <img src="django.svg" width="20%" height="40%" alt="Логотип Django">
    </section>

    <footer>
        <p>Додаткова інформація доступна на <a href="https://docs.djangoproject.com/">офіційному сайті Django</a>.</p>
    </footer>

</body>

</html>