{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel = 'stylesheet' href="{% static 'css/stail_main.css' %}">
</head>
<body>
  <h1>App2_Main</h1>
    <p class="my-class">Events</p>
    <div id="my-id1">For planing</div>
    <div id="my-id2"><span>
        <br>Planning is the process of thinking regarding the activities required to achieve a desired goal. Planning is based on foresight, the fundamental capacity for mental time travel. The evolution of forethought, the capacity to think ahead, is considered to have been a prime mover in human evolution.[1] Planning is a fundamental property of intelligent behavior. It involves the use of logic and imagination to visualise not only a desired result, but the steps necessary to achieve that result.
        <br>An important aspect of planning is its relationship to forecasting. Forecasting aims to predict what the future will look like, while planning imagines what the future could look like.
        <br>Planning according to established principles is a core part of many professional occupations, particularly in fields such as management and business. Once a plan has been developed, it is possible to measure and assess progress, efficiency and effectiveness. As circumstances change, plans may need to be modified or even abandoned.
    </span></div>

</body>
</html>