<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
        .my-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db; /* Колір фону кнопки */
  color: #ffffff; /* Колір тексту кнопки */
  text-decoration: none; /* Забираємо підкреслення посилання */
  border-radius: 5px; /* Округлені кути */
  font-weight: bold; /* Жирний шрифт */
  transition: background-color 0.3s ease; /* Плавний перехід кольору фону */
}

.my-button:hover {
  background-color: #2374b8; /* Колір фону кнопки при наведенні курсору */
}
    </style>
</head>
<body>
HEDER
{%block content%}
{%endblock%}
FOOTER
</body>
</html>