{%extends 'base.html'%}
{%load static%}
{%block content%}
<h1>Product {{cat}}</h1>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for i in products%}
    <div class="col">
      <div class="card">
        {%if i.image%}
        <img src="{{i.image.url}}" class="card-img-top" alt="...">
        {%else%}
        <img src="{%static "images/IMG_2401.JPG"%}" class="card-img-top" alt="...">
        {%endif%}
        <div class="card-body">
          <h5 class="card-title">{{i.name}}</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    {%endfor%}
 </div>


<a href="{% url 'home' %}" class="my-button">Back:</a>
{%endblock%}
